ul{
    list-style: none;
}

.titular{
    font-weight: 600;
    text-align: center;
    color: rgb(77, 109, 46);
    font-size: 26px;
    display: block;
    margin-top: 45px;
    margin-bottom: 15px;
}

.titular2{
    text-align: left;
    margin: 15px 0;
}

.formulario{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;

}
.formulario .submit{
    background-color: rgb(136, 136, 136);
    color: white;
    font-weight: bold;
    width: 30%;
    margin-left: 50%;
}

.submit:hover{
    background-color: rgb(53, 52, 52);
    border-color: rgb(53, 52, 52);
}

.formulario input{
    width: 80%;
    margin: 5px 0;
    padding: 4px 0;
    border: 2px rgb(136, 136, 136) solid;
    border-radius: 5px;
}

.formulario textarea{
    resize: none;
    width: 80%;
    border: 2px rgb(136, 136, 136) solid;
    border-radius: 5px;
    margin: 5px 0;
}

.formulario li div img{
    display: inline;
    margin: 5px 0;
    width: 45px;
}

iframe{
    width: 70%;
    text-align: center;
    margin: 20px 15%;
    height: 30vw;
}

@media (max-width: 720px){
    .formulario{
        grid-template-columns: 80%;
    }
}

/*----validaciones del formuario------*/
label{
    cursor:pointer;
}

.formulario__input{
    border: 3px solid transparent;
    transition: .3s ease all;
}

.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display:none;
}

.formulario__input-error-activo{
    display:block;
}

.formulario__mensaje{
    background: #f66060;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__mensaje-activo{
    display: block;
}

.submit{
    transition: .1s ease all;
}
.submit:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163,1)
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo{
display: block;
}

/*----- Estilo para la validacion-------*/

.formulario__grupo-incorrecto label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;

}

/*----contador de caracteres-----*/
#txtVista{
    padding-right: 20%;
    text-align: right;
}