main{
    margin: 0 25px;
}

p{
    text-align: justify;
}

.titular{
    font-weight: 600;
    text-align: center;
    color: rgb(77, 109, 46);
    font-size: 26px;
    display: block;
    margin: 15px 0;
}

.titular_princ{
    font-size: 36px;
}

.subtitulo{
    font-weight: 500;
    color: rgb(77, 109, 46);
    font-size: 26px;
    margin: 15px 0;
    display: block;
}


.negrita{
    font-weight: bold;
}

.portada img{
    width: 35%;
    margin-right: 30px;
    border-radius: 5px;
}

.portada, .portada div{
    display: flex;
    margin: 60px 25px;
    justify-content: center;
    align-items: center;
}

section{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 25px;
    margin: 10px 25px;
    justify-content: center;
}

section img{
    width: 100%;
}

section p a{
    color: rgb(8, 8, 228);
}

.grid{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: 45% 45%;
}

.c{
    grid-column: 1 / 3;
    width: 50%;
    margin: 0 auto;
}

main form ul{
    list-style: none;
}

main form ul li{
    margin-bottom: 15px;
}

main form ul li label{
    margin-right: 10px;
}

.join{
    grid-template-columns: 100%;
}

.join select{
    width: 65%;
}

main form ul li{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: 5px;
    grid-column-gap: 10%;
    align-items: center;
}

main form ul input, select{
    padding: 4px 0;
    border: 2px rgb(136, 136, 136) solid;
    border-radius: 5px;
}

.submit{
   background-color: rgb(136, 136, 136);
   color: white;
   font-weight: bold;
   grid-column: 2;
}

.submit:hover{
    background-color: rgb(53, 52, 52);
    border-color: rgb(53, 52, 52);
}

.prevencion{
    display: grid;
    margin: 35px 25px;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
   
}

.prevencion img{
    width: 55%;
    margin: 0 30%;
}

.mapa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.mapa img{
    width: 80%;
}

.mapa ul{
    list-style-type: none;
}

.mapa ul li{
    margin: 15px 0;
}

.mapa iframe{
    width: 50%;
    height: 30vw;
    max-height: 320px;
}

.popup{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.cartel{
    position: absolute;
    display: block;
    z-index: 2;
    top: 20%; left: 10%; right: 10%;
    margin: 0 auto 15% auto;
    padding-bottom: 15px;
    background-color: white;
    width: 80%;
    max-width: 750px;
    border-radius: 7px;
    border:1px solid rgb(53, 52, 52);
}

.cartel p{
    text-align: center;
    font-weight: bold;
    margin: 0 20px 15px 20px;
}

.cartel ul li{
    list-style: none;
    display: grid;
    grid-template-columns: 40% 10%;
    justify-content: center;
    margin: 10px auto;
}

.cartel span{
    font-weight: bolder;
}

.cartel button{
   background-color: white;
   color: rgb(209, 23, 23);
   font-weight: bolder;
   font-size: 20px;
   padding: 1px 7px 3px 7px;
   margin: 3px;
   border-radius: 10px;
   border: none;
   position: relative;
   left: 92%;
}

.cartel button:hover, .cartel button:focus{
    background-color: rgb(209, 23, 23);
    color: white;
    border:none;
    outline: none;
}

.cartel a{
    cursor: default;
    margin-left: 5%;
    color: rgb(8, 8, 228);
    text-decoration: underline;
}

.cartel a:hover{
    color:rgb(23, 139, 247);
}

@media (max-width: 720px){
    section{
        grid-template-columns: 90%;
    }

    .prevencion{
        grid-template-columns: 50% 50%;
    }

    .cartel ul li{
        grid-template-columns: 80%;
    }
}

